/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap");
.dark {
  background-color: #141412;
}
* {
  font-family: "Spartan", sans-serif;
  color: #babaaf;
}
